html {overflow-x: hidden;}

.landing-page {
	background: #02070F;
	margin: auto;
/*	padding: 0 22px;*/
    overflow-x: hidden;
}

a {
	text-decoration: none;
}

.hero {
	width: 100%;
	height: 687px;
	background: url('./hero.png') no-repeat center/cover;
    box-shadow: 0px -15px 20px 5px #02070F inset;
}

.hero div {
	margin: auto;
	justify-content: center;
	display: flex;
	height: inherit;
}

.hero div h2 {
	text-align: center;
	color: #FFFFFF;
	font-size: 56px;
	letter-spacing: 1.92px;
	align-self: flex-end;
}
.hero div h2 span {font-size: 96px;}

.text-block.i-see-you {
	background: transparent linear-gradient(180deg, #02070F 0%, #eff1f43b 100%);
	display: flex;
	margin: auto;
	width: 100%;
	border-bottom: 1px solid #F8D79A;
}


.text-block.i-see-you p {
	text-align: center;
/*	letter-spacing: NaNpx;*/
	color: #F8F3EA;
	font-size: 16px;
	width: 471px;
	margin: 85px auto 40px;
}

.text-block.i-see-you p span {
	text-transform: uppercase;
	font-size: 24px;
}


.sword-siege {
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width: 1201px;
	margin: auto;
	gap: 114px;
}
.sword-siege-img {align-self: center;}
.sword-siege-img img {
	width: 249px;
	height: 446px;
}

.sword-siege-text {
	max-width: 641px;
}

.sword-siege-text h2 {
	text-align: left;
/*	font: normal normal 300 36px/50px Archivo;*/
	font-size: 50px;
	letter-spacing: 0px;
	color: #F8F3EA;
	margin-bottom: 39px;
}

.sword-siege-text .icons {
	width: 522px;
	height: 195px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	float: right;
}

.sword-siege-text .icon {
	max-width: 178px;
	width: auto;
}

.sword-siege-text .icon-foot {
    width: 80%;
    display: flex;
    flex-direction: column;
    float: right;
    margin-top: 40px;
}
.sword-siege-text .icon-foot p{
	text-align: left;
	letter-spacing: 0px;
	color: #F8F3EA;
	font-size: 20px;
	margin: 0 0 15px;
}

.sword-siege-text .hexagon {
  position: relative;
  width: 88px;
  height: 102px;
  background: transparent;
/*  border: 3px solid #F8D79A;*/
}
.sword-siege-text .hexagon:before, .double:after {
  position: absolute;
  content: '';
}
.sword-siege-text .hexagon:before {
  top: 4px;  /* border width */
  left: 4px;  /* border width */
  height: calc(100% - 8px);  /* 100% - (2 * border width) */
  width: calc(100% - 8px);  /* 100% - (2 * border width) */
  background: #F8D79A;
}
.sword-siege-text .hexagon, .sword-siege-text .hexagon:before, .sword-siege-text .double:after {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.sword-siege-text .icon-img {
/*	transform: matrix(0, 1, -1, 0, 0, 0);*/
	margin: auto;
}

.sword-siege-text .icon p {
	text-align: center;
/*	font: normal normal normal 16px/24px Archivo;*/
	font-size: 16px;
	letter-spacing: 0px;
	color: #F8F3EA;
}


.reviews {
	margin: 85px auto 0;
	display: flex;
	max-width: 1201px;
	flex-direction: row;
	justify-content: space-between;
}
.reviews-copy {
	width: 242px;
	color: #F8F3EA;
	font-size: 16px;
	align-self: center;
}
.reviews-copy p {
	margin: 0 0 10px;
}
.reviews-screenshot {
	width: 458px;
	height: 305px;
	background: #1F3251;
}
.reviews-logos {
	width: 255px;
	height: 305px;
}
.reviews-logos p {
	color: #F8F3EA;
	margin: 70px 0;
	font-weight: bold;
}
.reviews-logos div {
	height: 150px;
	display: flex;
	flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
}
.reviews-logos div .logo {
	width: 59px;
	height: 59px;
	background: #1F3251;
	border-radius: 50px;
}


.within-hours {
	display: flex;
	margin-top: 156px;
	flex-direction: row;
	justify-content: center;
}
.within-hours-text {
	max-width: 539px;
}
.within-hours-text h2 {
	color: #F8F3EA;
	font-size: 36px;
	margin: 60px 0;
}
.within-hours-text h2 span {
	font-weight: bold;
}
.within-hours-text p {
	color: #F8F3EA;
	font-size: 16px;
	margin: 0 0 16px;
}
.within-hours-img {
	width: 700px;
	height: 578px;
	background: #2968cd;
}
.within-hours-text img {
	width: 519px;
	height: 72px;
}

.enchantments {
	margin: 141px auto 0;
	background: transparent radial-gradient(closest-side at 50% 50%, #1F325166 0%, #02070F 100%);
	max-width: 1200px;
}
.enchantments-title {
	text-align: center;
/*	font: normal normal normal 40px/33px THE GONjURING;*/
	font-size: 40px;
	color: #F8F3EA;
	margin: 65px 0;
}
.enchantments-product-box {
	display: flex;
	gap: 18px;
	flex-direction: row;
	justify-content: center;
    margin-top: -7rem;
}

.enchantments-product {
	width: 365px;
	height: 664px;
	background: #1F3251;
}

.enchantments-product.low {margin-top: 73px;}
.enchantments-product.one {
	background: url('./prod1.png') no-repeat center/cover;
}
.enchantments-product.two {
	background: url('./prod2.png') no-repeat center/cover;
}
.enchantments-product.three {
	background: url('./prod3.png') no-repeat center/cover;
}

.rundown {
	margin: 99px auto 0;
}
.rundown-drops {
	text-align: center;
	font-size: 12px;
	font-weight: 'Archivo';
	color: #F8F3EA;
	text-transform: uppercase;
	margin: 0 0 20px;
}
.rundown-title {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Helvetica Neue';
	color: #F8F3EA;
	margin: 0 0 46px;
}
.rundown-chart {
	margin: 0 auto 70px;
}
.rundown-chart-group {
	display: flex;
	flex-direction: row;
	width: ;
	justify-content: center;
}
.rundown-chart-group .right {
	width: 355px;
	height: 115px;
	border: 1px solid #F8F3EA;
	display: flex;
}
.rundown-chart-group .right p {
	align-self: center;
	text-align: center;
	font-size: 28px;
	font-family: "Archivo";
	letter-spacing: 0px;
	color: #F8D79A;
	margin: auto;
}
.rundown-chart-group .left {
	width: 501px;
	height: 115px;
	border: 1px solid #F8F3EA;
	display: flex;
	border-left: none;
}
.rundown-chart-group .left p {
	align-self: center;
	text-align: center;
	font-size: 16px;
	font-family: "Archivo";
	letter-spacing: 0px;
	color: #F8F3EA;
	margin: auto;
}
.rundown-chart-group:not(.last) .left, .rundown-chart-group:not(.last) .right {
	border-bottom: none;
}
img.hr {
	width: 100%;
	height: 47px;
	margin-top: -40px;
}

.character {margin-bottom: 9rem;}
.character-title {
	margin: 0 0 25px;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	font-family: "Archivo";
	color: #F8F3EA;
}
.character-subtitle {
	margin: 0;
	text-align: center;
	font-size: 16px;
	font-family: "Archivo";
	color: #F8F3EA;
}
.characters {
	display: flex;
	max-width: 969px;
	justify-content: space-between;
	margin: -100px auto 0;
}
.characters div {
	background: #1F3251;
	width: 89px;
	height: 128px;
	border-radius: 100px;
}
.characters .two, .characters .four {
	margin-top: 95px;
}

.characters .three {
	margin-top: 164px;
}

.legendary-beard {
	text-align: center;
	font-size: 36px;
	font-weight: 300;
	font-family: "Archivo";
	letter-spacing: 0px;
	color: #F8F3EA;
	margin: 49px 0 20px;
}
.legendary-copy {
	text-align: center;
	font-size: 20px;
	font-family: "Archivo";
	color: #F8F3EA;
	margin: 0 0 59px;
}
.legendary-cta {
	width: 434px;
	height: 61px;
	background: url('./BeginAdventureButton.svg') no-repeat center/cover;
/*	border: 2px solid #F8D79A;*/
	margin: 0 auto -20px;
	display: flex;
	justify-content: center;
    z-index: 1;
    position: relative;
}
.legendary-cta span{
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	font-family: "Archivo";
	color: #F8F3EA;
	align-self: center;
}

.brotherhood {
	margin: 137px auto 0;
}
.brotherhood-title {
	text-align: left;
	font-size: 48px;
	font-family: 'THE GONjURING';
	color: #F8F3EA;
	margin-bottom: 22px;
	margin: auto;
	max-width: 1125px;
}
.brotherhood-say {
	display: flex;
	flex-direction: row;
	gap: 29px;
	justify-content: center;
	padding-bottom: 5rem;
}
.brotherhood-say-left {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 510px;
	height: 417px;
}
.brotherhood-say-left p {
	font-weight: 600;
	font-size: 28px;
	font-family: "Archivo";
	color: #F8F3EA;
	margin-top: 0;
	margin-bottom: 0;
}
.brotherhood-say-left .right.one {
	margin-left: 15rem;
}
.brotherhood-say-left .right.two {
	margin-left: 20rem;
}
.brotherhood-say-left .left.two {
	margin-left: 5rem;
}
.brotherhood-say-right {
	width: 595px;
	height: 417px;
	text-align: left;
	font-weight: 600;
	font-size: 28px;
	font-family: "Archivo";
	color: #F8F3EA;
}

.brotherhood-quest {
	margin: 128px auto 50px;
	display: flex;
	gap: 48px;
    width: fit-content;
}
.brotherhood-quest .title {
	font-size: 48px;
	font-family: 'THE GONjURING';
	color: #F8F3EA;
	text-transform: uppercase;
    margin: -30px 0 0;
}
.brotherhood-quest .copy {
	width: 463px;
	height: 90px;
	text-align: left;
	font-size: 16px;
	font-family: "Archivo";
	letter-spacing: 0px;
	color: #F8F3EA;
	margin: 0;
}
.brotherhood-quest-gifs {
	max-width: 1340px;
	height: 426px;
	display: flex;
	gap: 5px;
	margin:0 auto 127px;
}
.brotherhood-quest-gifs div {
	background: #1F3251;
	width: 100%;
	height: 100%;
}

.brotherhood-quest-gifs div.one {
	-webkit-clip-path: polygon(0 0, 100% 0%, 60% 100%, 0% 100%);
	clip-path: polygon(0 0, 100% 0%, 60% 100%, 0% 100%);
	background: url('./Beforeandafter1.gif') no-repeat center/cover;
}
.brotherhood-quest-gifs div.two {
	-webkit-clip-path: polygon(40% 0, 100% 0%, 90% 100%, 0% 100%);
	clip-path: polygon(40% 0, 100% 0%, 90% 100%, 0% 100%);
    margin-left: -144px;
    background: url('./Beforeandafter2.gif') no-repeat center/cover;
}
.brotherhood-quest-gifs div.three {
	-webkit-clip-path: polygon(10% 0, 90% 0%, 100% 100%, 0% 100%);
	clip-path: polygon(10% 0, 90% 0%, 100% 100%, 0% 100%);
    margin-left: -30px;
    background: url('./Beforeandafter3.gif') no-repeat center/cover;
}
.brotherhood-quest-gifs div.four {
	-webkit-clip-path: polygon(0% 0, 100% 0%, 100% 100%, 10% 100%);
	clip-path: polygon(0% 0, 100% 0%, 100% 100%, 10% 100%);
    margin-left: -30px;
    background: url('./Beforeandafter4.gif') no-repeat center/cover;
}

.brotherhood-quest-cta {
	width: 335px;
	height: 61px;
	display: flex;
	justify-content: center;
	margin: 0 auto -21px;
/*	border: 2px solid #F8D79A;*/
	background: url('./DestinyButton.svg') no-repeat center/cover;
	position: relative;
	z-index: 1;
}
.brotherhood-quest-cta span {
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	font-family: "Archivo";
	letter-spacing: 0px;
	color: #F8F3EA;
	align-self: center;
}



.ingredients{
	margin: 144px auto 0;
}
.ingredients-title {
	text-align: center;
	font-size: 48px;
	font-family:'THE GONjURING';
	letter-spacing: 0px;
	color: #F8F3EA;
	margin-bottom: 50px;
}
.ingredients-list {
	height: 39px;
	border-bottom: 1px solid #F8F3EA;
	max-width: 900px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 0 auto 77px;
}
.ingredients-list div {
	text-align: center;
	font-size: 20px;
	font-family: "Archivo";
	letter-spacing: 0px;
	color: #F8F3EA;
	text-transform: uppercase;
	cursor: pointer;
}
.ingredients-list div.active {
	color: #F8D79A;
	border-bottom: 1px solid #F8D79A;
	margin-bottom: -1px;
}
.ingredients-list-content .content {
	display: flex;
	gap: 66px;
	flex-direction: row;
	justify-content: center;
}
.ingredients-list-content .photo, .ingredients-list-content .copy {
	display: flex;
	flex-direction: column;
}
.ingredients-list-content .photo div {
	border-radius: 50%;
	width: 226px;
	height: 226px;
	background: #F8F3EA;
	margin: auto;
}
.ingredients-list-content .photo p {
	text-align: center;
	font-weight: 600;
	font-size: 36px;
	font-family: "Archivo";
	letter-spacing: 0px;
	color: #F8D79A;
	text-transform: uppercase;
	margin: 18px auto;
}
.ingredients-list-content .copy {
/*	width: 450px;*/
    align-self: center;
}
.ingredients-list-content .copy .info {
	font-size: 16px;
	font-family: "Archivo";
	color: #F8F3EA;
	margin: 18px 0;
}
.ingredients-list-content .copy p:not(.info) {
	font-size: 20px;
	font-weight: 600;
	font-family: "Archivo";
	color: #F8F3EA;
	margin-left: 50px;
}
.ingredients-list-content .content:not(.active) {
	display: none;
}


.wizard-promise {
	margin: 240px auto 60px;
}
.wizard-promise-title {
	font-size: 48px;
	font-family: 'THE GONjURING';
	letter-spacing: 0px;
	color: #F8F3EA;
    margin: 0 auto 30px;
    max-width: 1030px;
}
.wizard-promise-block {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.wizard-promise-img {
    width: 600px;
    height: 337px;
	background: #1F3251; /*remove*/
}
.wizard-promise-copy {
	width: 423px;
	align-self: center;
}
.wizard-promise-copy h2 {
	font-size: 36px;
	font-family: "Archivo";
	letter-spacing: 0px;
	color: #F8F3EA;
	margin: 0;
	text-align: right;
}
.wizard-promise-copy h2 span {
	font-weight: bold;
}
.wizard-promise-copy p {
	text-align: right;
	font-size: 16px;
	font-family: "Archivo";
	color: #F8F3EA;
	margin: 30px 0;
}

.faq {
	margin: 61px auto 0;
}
.faq-title {
	font-size: 48px;
	font-family: 'THE GONjURING';
	letter-spacing: 0px;
	color: #F8F3EA;
	width: 1201px;
	margin-left: auto;
}
.faq-body {
	display: flex;
	flex-direction: row;
	justify-content: center;
    max-width: 1201px;
    margin: auto;
}
.faq-body-questions {
	width: 90%;
	display: flex;
	flex-direction: column;
	gap: 36px;
}
.faq-body-questions .faq-block p.que {
	font-size: 20px;
	font-weight: 600;
	font-family: "Archivo";
	letter-spacing: 0px;
	color: #F8F3EA;
	opacity: 0.59;
	cursor: pointer;
	margin: 0;
}
.faq-body-questions .faq-block.active p.que {
	opacity: 1;
	font-size: 28px;
	margin: 9px 28px 9px 0;
	display: flex;
}
/*.faq-body-questions p.active::before {
	align-self: center;
	content: "	—";
	color: #F8F3EA;
	opacity: 1;
	margin-right: 22px;
}*/
/*.faq-body-questions p.active + p, .faq-body-questions p.top {
	opacity: 0.85;
	margin-left: 12px;
}*/
/*.faq-body-answers {
	width: 470px;
	text-align: left;
	align-self: center;
}*/
.ans-block {
    display: flex;
    gap: 80px;
}
.ans-block img {
	height: 80px;
    align-self: center;
}
.ans-block p {
	font-size: 20px;
	font-weight: 600;
	font-family: "Archivo";
	letter-spacing: 0px;
	color: #F8D79A;
	opacity: 1;
	margin: 0;
	align-self: center;
}
.faq-body-questions .faq-block:not(.active) .ans-block {
    display: none;
}
/*.faq-body-answers p.active {
	margin-top: -3rem;
}
.faq-body-divider {
	width: 100px;
	height: 114px;
	align-self: center;
	margin-right: 30px;
	margin-top: -3rem;
}
.faq-body-divider .top {
	border-bottom: 1px solid #F8D79A;
	border-right: 1px solid #F8D79A;
	height: 57px;
}
.faq-body-divider .bottom {
	border-right: 1px solid #F8D79A;
	height: 57px;
}*/



.beware {
	margin: 137px auto 0;
	display: flex;
	flex-direction: row;
	gap: 50px;
	justify-content: center;
}
.beware-copy {
	width: 389px;
	align-self: center;
}
.beware-copy h2 {
	font-size: 48px;
	font-family: 'THE GONjURING';
	letter-spacing: 0px;
	color: #F8F3EA;
	margin: 0;
}
.beware-copy p {
	margin: 30px 0;
	font-size: 16px;
	font-family: "Archivo";
	letter-spacing: 0px;
	color: #F8F3EA;
}
.beware-copy h5 {
	color: #F8F3EA;
	font-size: 36px;
	font-weight: 300;
	font-family: "Archivo";
	margin: 0;
}
.beware-copy h5 span {
	font-weight: 600;
}
.beware-img {
	width: 680px;
	height: 448px;
	background: #1F3251;
}


.grab-the-bull {
	margin: 111px auto 0;
}
.grab-the-bull .above-cta {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.grab-the-bull .above-cta h2 {
	text-align: center;
	font-size: 48px;
	font-family: 'THE GONjURING';
	letter-spacing: 0px;
	color: #F8F3EA;
	margin: 0;
}
.grab-the-bull .above-cta p {
	text-align: center;
	font-size: 20px;
	font-family: "Archivo";
	letter-spacing: 0px;
	color: #F8F3EA;
	margin: 38px auto;
	width: 427px;
}
.grab-the-bull .above-cta a {
	width: 583px;
	height: 61px;
/*	border: 2px solid #F8D79A;*/
	background: url('./BOGOButton.svg') no-repeat center/cover;
	position: relative;
	z-index: 1;
	margin: 0 auto -14px;
    justify-content: center;
    display: flex;
}
.grab-the-bull .above-cta a span {
	text-align: center;
	font-size: 16px;
	font-weight: 800;
	font-family: "Archivo";
	letter-spacing: 0px;
	color: #F8F3EA;
	align-self: center;
}
.grab-the-bull .below-cta {
	margin: 80px auto 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1210px;
}
.grab-the-bull .below-cta h2 {
	font-size: 100px;
	font-family: 'THE GONjURING';
	letter-spacing: 0px;
	color: #F8F3EA;
	margin: 0;
}
.grab-the-bull .below-cta p {
	font-size: 20px;
	font-family: "Archivo";
	letter-spacing: 0px;
	color: #F8F3EA;
	width: 459px;
	position: relative;
    left: 36rem;
    top: 4rem;
}
.grab-the-bull .below-cta .img-one {
	max-width: 492px;
	height: 478px;
	background: #1F3251;
}
.grab-the-bull .below-cta .img-two {
	max-width: 678px;
	height: 332px;
	background: #1F3251;
    position: relative;
    top: -25rem;
    left: 32rem;
}
.grab-the-bull .below-cta .img-three {
	max-width: 986px;
	height: 429px;
	background: #1F3251;
	box-shadow: 0px 0px 22px #02070F41;
    position: relative;
    top: -24rem;
    left: 7rem;
}

.ready-to-rise {
	margin-top: -15rem;
    margin-bottom: 17rem;
}
.ready-to-rise .copy {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.ready-to-rise .copy .text {
	width: 432px;
	text-align: left;
	font-size: 20px;
	font-family: "Archivo";
	letter-spacing: 0px;
	color: #F8F3EA;
    margin: auto;
    position: relative;
    left: -9rem;
}
.ready-to-rise .copy .subtext {
	width: 194px;
	height: 67px;
	text-align: left;
	font-size: 16px;
	font-family: "Archivo";
	letter-spacing: 0px;
	color: #F8F3EA;
    margin: auto;
    position: relative;
    left: 7rem;
}
.ready-to-rise .main-text {
	height: 594px;
	background: transparent linear-gradient(0deg, #1F3251 0%, #02070F 100%);
	display: flex;
	justify-content: center;
	margin-top: -7rem;
}
.ready-to-rise .main-text h2 {
	text-align: center;
	font-size: 48px;
	font-family: 'THE GONjURING';
	letter-spacing: 0px;
	color: #F8F3EA;
	text-transform: uppercase;
	align-self: center;
}
.ready-to-rise .add-fable h2 {
	text-align: center;
	font-size: 68px;
	font-family: 'THE GONjURING';
	letter-spacing: 0px;
	color: #F8F3EA;
	margin: 124px auto 60px;
}
.ready-to-rise .add-fable h2 span {
	font-size: 100px;
}
.ready-to-rise .add-fable a {
	width: 270px;
	height: 61px;
	display: flex;
	justify-content: center;

	background: url('./DestinyButton.svg') no-repeat center/cover;
	position: relative;
	z-index: 1;
	margin: 0 auto -20px;
    justify-content: center;
    display: flex;
}
.ready-to-rise .add-fable a span {
	text-align: center;
	font-size: 16px;
	font-weight: 800;
	font-family: "Archivo";
	letter-spacing: 0px;
	color: #F8F3EA;
	align-self: center;
}
.ready-to-rise .ps {
	display: flex;
	flex-direction: row;
	gap: 100px;
	height: 178px;
	justify-content: center;
	margin-top: 100px;
}
.ready-to-rise .wiz-img, .ready-to-rise .prin-img {
	width: 112px;
	height: 178px;
	background: #992915;
	border-radius: 41px;
}
/*.ready-to-rise .wiz-img {
	background: url('./Wizard.png"') no-repeat center/cover;
}
.ready-to-rise .prin-img {
	background: url('./Princess.png"') no-repeat center/cover;
}*/
.ready-to-rise .ps .copy {
	width: 611px;
}
.ready-to-rise .ps .copy .top{
	display: flex;
    gap: 20px;
}
.ready-to-rise .ps .copy .top h1 {
	font-size: 48px;
	font-family: 'THE GONjURING';
	letter-spacing: 0px;
	color: #F8F3EA;
    margin: 0;
}
.ready-to-rise .ps .copy .top p {
	font-size: 12px;
	font-family: "Archivo";
	letter-spacing: 0px;
	color: #F8F3EA;
	margin: 0;
	align-self: center;
}
.ready-to-rise .ps .copy .bottom {
	margin-top: 31px;
    width: fit-content;
    margin-left: 14rem;
}
.ready-to-rise .ps .copy .bottom h1 {
	font-size: 30px;
	font-family: 'THE GONjURING';
	letter-spacing: 0px;
	color: #F8F3EA;
	margin: 0;
}
.ready-to-rise .ps .copy .bottom p {
	font-size: 9px;
	font-family: "Archivo";
	letter-spacing: 0px;
	color: #F8F3EA;
	text-transform: uppercase;
	margin: 0;
}

.foot-cta {
	height: 232px;
/*	background: transparent linear-gradient(180deg, #02070F 0%, #02070F00 100%);*/
	background: url('./cta-bg.png') no-repeat center/cover;
	position: fixed;
	bottom: 0;
    display: flex;
    width: 100vw;
    left: 0;

    display: none;
}

.foot-cta .cta {
	width: 322px;
	height: 61px;
	background: #F8F3EA;
/*	border: 2px solid #992915;*/
	margin: 0 auto;
	background: url('./ShopNowButton.svg') no-repeat center/cover;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0px;
	color: #992915;
}


@media (max-width: 1300px) {
	.grab-the-bull .below-cta .img-one {
	    max-width: 447px;
	}
	.grab-the-bull .below-cta .img-two {
	    max-width: 531px;
	    left: 29rem;
	}
	.grab-the-bull .below-cta .img-three {
	    max-width: 830px;
	    height: 400px;
	    left: 5rem;
    }
    .grab-the-bull .below-cta p {
    	left: 31rem;
    }
}
@media (max-width: 900px) {
	.sword-siege,
	.brotherhood-say {
	    flex-direction: column-reverse;
	}
	.sword-siege-img, 
	.sword-siege-text,
	.reviews-screenshot,
	.reviews-logos,
	.within-hours-text,
	.within-hours-img,
	.brotherhood-say-right,
	.brotherhood-say-left {margin: auto;}

	.reviews,
	.within-hours {flex-direction: column;}

	.brotherhood-say {gap: 0;}
	.grab-the-bull .below-cta h2 {font-size: 80px;}
	.grab-the-bull .below-cta p { 
		left: 20rem;
	    width: 300px;
	}
	.grab-the-bull .below-cta .img-one {max-width: 300px;}
	.grab-the-bull .below-cta .img-two {
	    max-width: 400px;
	    left: 20rem;
	    height: 270px;
	}
	.grab-the-bull .below-cta .img-three {
		max-width: 700px;
		left: 2rem;
		height: 350px;
	}
	.ready-to-rise .ps { gap: 5px;}

	.reviews-logos div {height: auto;}

	.wizard-promise-copy h2 br {display: none;}
	.ready-to-rise .add-fable h2 {font-size: 50px;}
	.ready-to-rise .add-fable h2 span {font-size: 80px;}
	.brotherhood-quest {
	    flex-wrap: wrap;
	    margin-bottom: 0;
	}
	.brotherhood-quest-gifs {
	    flex-wrap: wrap;}
    .brotherhood-quest-gifs>* {
	  flex: 1 1 49%;
	}
	.brotherhood-quest-gifs div {
	    height: 49%;
	}
	.ready-to-rise .ps .copy .bottom h1 {width: 80%;}
	.within-hours-text img {width: auto;}
}
@media (max-width: 500px) {
	.hero div h2 {font-size: 40px;}
	.hero div h2 span {font-size: 67px;}
	.text-block.i-see-you p span {font-size: 20px;}
	.sword-siege-text {max-width: 100%;}
	.sword-siege-text .icons {
	    width: 100%;
	    flex-wrap: wrap;
	    height: auto;
	    justify-content: center;
        margin-bottom: 40px;
	}
	.landing-page {padding: 0 15px;}
	.sword-siege-text .icon-foot {
	    width: 100%;
	    float: initial;
	}
	.sword-siege {gap: 30px;}

	.reviews-screenshot,
	.within-hours-img,
	.legendary-cta,
	.brotherhood-say-right,
	.brotherhood-say-left,
	.brotherhood-quest,
	.ingredients-list-content .copy,
	.wizard-promise-img,
	.wizard-promise-copy,
	.grab-the-bull .above-cta p,
	.grab-the-bull .above-cta a,
	.beware-copy,
	.beware-img,
	.faq-body-answers,
	.within-hours-text img {width: 100%;}

	.within-hours-text img {height: 60px;}

	.within-hours-text h2 br,
	.rundown-chart-group .left p br,
	.rundown-title br,
	.rundown-drops br,
	.character-title br,
	.brotherhood-title br {display: none;}

	.enchantments-product.low {margin-top: 0;}
	.enchantments-product-box,
	.characters {flex-wrap: wrap;}
	.enchantments-product {
	    width: 100%;
	    height: 300px;
	}
	.rundown-chart-group .right p {font-size: 20px;}
	.rundown-chart-group .left p {font-size: 14px;}
	.rundown-chart-group .left,
	.rundown-chart-group .right {padding: 0 7px;}
	.characters .two, .characters .four, .characters .three {margin-top: 0;}
	.characters{ 
		margin-top: 40px;
		justify-content: center;
	    gap: 30px;
	}
	.brotherhood-say-right {
		font-size: 20px;
		font-weight: 400;
		height: auto;
		margin-bottom: 20px;
	}
	.brotherhood-say-left .right.one {margin-left: 7rem;}
	.brotherhood-say-left .right.two {margin-left: 12rem;}
	.brotherhood-say-left .left.two {margin-left: 1rem;}
	.brotherhood-say-left {justify-content: space-between;}
	.brotherhood-quest .title {font-size: 37px;}
	.brotherhood-quest {gap: 25px;}
	.brotherhood-quest-gifs {margin-bottom: 90px;}

	.ingredients-list {
	    height: 85px;
	    flex-wrap: wrap;
	}
	.ingredients-list div.active {
		border-bottom: none;
	}
	.ingredients-list div {font-size: 18px;}
	.ingredients-list-content .content { flex-direction: column;}
	.ingredients-list-content .copy .info, 
	.ingredients-list-content .copy p:not(.info) {
		text-align: center;
		margin-left: 0;
	}

	.wizard-promise {margin-top: 140px;}
	.wizard-promise-block {
		flex-direction: column;
		gap: 20px;
	}
	.ready-to-rise .add-fable h2 span {font-size: 50px;}
	.ready-to-rise .add-fable h2 {font-size: 35px;}
	.ready-to-rise .copy .text {
		width: 100%;
		left: 0;
	}
	.ready-to-rise .copy .subtext {
	    left: 6rem;
	    top: 30px;
	}
	.ready-to-rise {
	    margin-top: 0rem;}
    .grab-the-bull .below-cta .img-two {
	    max-width: 93%;
	    left: 2rem;
	    top: -3rem;
	    box-shadow: 0px 0px 22px #02070F41;
	}
	.grab-the-bull .below-cta .img-one {
		height: 380px;
	}
	.grab-the-bull .below-cta .img-three {
	    max-width: 90%;
	    top: -4rem;
	    left: 0rem;
	    height: 350px;
	}
	.grab-the-bull .below-cta p {
	    left: 9rem;
	    width: 70%;
	    top: 0rem;
	}
	.grab-the-bull .below-cta h2 {
	    font-size: 65px;
	}
	.grab-the-bull .above-cta a span {    font-size: 11px;}
	.beware {flex-direction: column;}
	.faq-body-questions {
	    width: 100%;
	    height: auto;
	    flex-direction: column;
	    gap: 20px;
	    margin-bottom: 60px;
	}
	.faq-body-questions p {font-size: 18px;}
	.faq-body-divider {display: none;}
	.faq-body {
		flex-direction: column;
		gap: 50px;
	}
	.ingredients-list-content .content {gap: 0;}
	.ready-to-rise .ps .copy {
	    width: 100%;
	    order: 1;
	}
	.ready-to-rise .ps .copy .bottom h1 {
    width: 69%;
    margin: auto;
	}
	.ready-to-rise .ps {
		height: auto;
	    flex-direction: row;
	    flex-wrap: wrap;
	}
	.ready-to-rise .ps .copy .bottom {
	    width: 100%;
	    margin: 40px 0;
	    text-align: center;
	}
	.ready-to-rise .wiz-img, .ready-to-rise .prin-img {order: 2;}
	.within-hours-img {height: 377px;}
	.foot-cta .cta {    font-size: 14px;}

	.legendary-cta,
	.grab-the-bull .above-cta a {background-size: 110%;}
	.enchantments-product.one,
	.enchantments-product.two,
	.enchantments-product.three {background-size: 43%;}

	img.hr, .characters div.five, .characters div.four {display: none;}
	.enchantments-product-box {    margin-top: 0;}

}





